<%- include('../layouts/cabecera.ejs') %>   

        <a href="/hpuntos/crear" type="button" class="btn btn-primary">Agregar hpunto</a>
    <div class="table-sm mt-5">
      <table class="table table-striped bg-light table-hover rounded" id="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">descripcion</th>
            <th scope="col">accion</th>
          </tr>
        </thead>
        <tbody id="myTable">
        <% for( let hpunto = 0; hpunto < hpuntos.rows.length; hpunto++ ) { %>
          <tr>
              <td><%=hpunto+1 %> </td>
              <td><%=hpuntos.rows[hpunto].codigo %> </td>
              <td><%=hpuntos.rows[hpunto].nombre %> </td>
              <td><%=hpuntos.rows[hpunto].descripcion %> </td>
              
              <td>
                <form class="d-flex" method="get" action="/hpuntos/editar/<%=hpuntos.rows[hpunto].codigo %>">
                  <div class="col">
                    <div class="mb-3">
                      <button type="submit" class="btn btn-warning">editar</button>
                    </div>
                  </div>
                </form>
                <form class="d-flex" method="post" action="/hpuntos/eliminar/<%=hpuntos.rows[hpunto].codigo %>">
                  <div class="col">
                    <div class="mb-3">
                      <button type="submit" class="btn btn-danger">borrar</button>
                    </div>
                  </div>
                </form>
              </td>
          </tr>
        <% } %>
        </tbody>
      </table>
      

    </div>
<%- include('../layouts/pie') %>