<%- include('../layouts/cabecera.ejs') %> 

<a href="/descuento/crear" type="button" class="btn btn-primary">Agregar</a>
  <div class="table-sm mt-5">
    <table class="table table-striped bg-light table-hover rounded" id="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">producto</th>
          <th scope="col">descuento</th>
          <th scope="col">fecha_inicio</th>
          <th scope="col">fecha_fin</th>
        </tr>
      </thead>
      <tbody id="myTable">
        
        <% for( let producto = 0; producto < productos.rows.length; producto++ ) { %>
          <tr>
              <td><%=producto+1 %> </td>
              <td><%=productos.rows[producto].nombre  %> </td>
              <td><%=productos.rows[producto].porcentaje  %> </td>
              <td><%=productos.rows[producto].fecha_inicio %> </td>
              <td><%=productos.rows[producto].fecha_fin %> </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>


<%- include('../layouts/pie') %>